.body{
    background-color: burlywood;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 80%;
    aspect-ratio: 10/1;
    text-align: center;
    background-color:#be8857;
}

.bannertext{
    font-family: "fonts/vollkorn_medium.ttf";
    font-size: 7vw;
}

.break{
    margin: 0;
    margin-top: 5%;
    width: 80%;
}

.blockParent{
    margin: 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.blocktext{
    margin: 2.5%;
    margin-bottom: 0;
    width: calc(100%/3);
    text-align: center;
    display: inline-block;
    background-color:#be8857;
    text-decoration: none;
    color: black;
    max-width: 100%;
}

.emptyBlockText{
    margin: 2.5%;
    margin-bottom: 0;
    width: calc(100%/3);
    text-align: center;
    display: inline-block;
    background-color:burlywood;
}

.text{
    margin: 0;
    font-family: "fonts/vollkorn_medium.ttf";
    font-size: 2vw;
}

.block{
    margin: 2.5%;
    margin-top: 1%;
    width: calc(100%/3);
    aspect-ratio: 1/1;
    text-align: center;
    display: inline-block;
    background-color:#be8857;
}

.emptyBlock{
    margin: 2.5%;
    margin-top: 1%;
    width: calc(100%/3);
    aspect-ratio: 1/1;
    display: inline-block;
    background-color:burlywood;
}

.indexblock{
    margin: 2.5%;
    width: calc(100%/3);
    aspect-ratio: 1/1;
    font-family: "fonts/vollkorn_medium.ttf";
    font-size: 5vw;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#be8857;
}

.backbutton{
    position: fixed;
    margin: 2.5%;
    margin-right: 92.5%;
    width: 5%;
    aspect-ratio: 1/1;
}

.winkelmandje{
    position: fixed;
    margin: 2.5%;
    margin-left: 92.5%;
    width: 5%;
    aspect-ratio: 1/1;
}

.review{
    margin: 0;
    width: 100%;
    aspect-ratio: 7/1;
    background-color: #fff;
}

.cdimg{
    max-width: 100%;
}

.orderMenu{
    width: 80%;
    height: 80%;
    margin: 5%;
    background-color:#be8857;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayFlavour{
    background-color: burlywood;
    
}